#List of all clone instances in the root folder on local devices
#If your clone has a diffrent name or you have multiple add the name below
/Cosmo-Truckers_clone_0
Cosmo-Truckers/UserSettings/Layouts/default-2021.dwlt
*.dwlt
